@reference "../../../styles/index.css";

.header {
  @apply py-5 sticky top-0 w-full z-10 flex items-center justify-center;
}

.header_nav {
  @apply rounded-xl w-11/12 md:w-10/12 flex flex-row justify-between gap-3 items-center p-5 bg-glass backdrop-blur-sm border-1 border-border shadow-glass-shadow;
}

.header_logo {
  @apply flex flex-row items-center gap-3;
}

.header_logo_img {
  @apply w-15;
}

.header_plus {
  @apply text-5xl;
}

.header_btn_auth {
  @apply px-10 py-5 bg-green-500;
}

.header_btn_login {
  @apply px-10 py-5 bg-red-500;
}
