@reference "../../styles/index.css";

.base {
  @apply px-4 py-2 rounded-md font-semibold transition-all shadow-base duration-200 cursor-pointer hover:brightness-110 disabled:cursor-not-allowed disabled:opacity-50 disabled:hover:brightness-100;
}

.primary {
  @apply bg-primary text-primary-foreground;
}

.secondary {
  @apply bg-secondary text-secondary-foreground;
}

.danger {
  @apply bg-destructive text-destructive-foreground;
}

.outline {
  @apply bg-transparent border-2;
}
