@reference "../../styles/index.css";

.button_active {
  @apply w-full px-4 py-2 text-sm flex items-center  gap-2 rounded-md hover:bg-muted inset-shadow-medium;
}

.button_not_active {
  @apply w-full px-4 py-2 text-sm flex items-center gap-2 rounded-md hover:bg-muted;
}
